<!DOCTYPE html>
<html lang="en">
<!-- This website template was created by: Pardeep Kaur C0812203, Manpreet Kaur c0808021
         Gourav C0810482 and Aakriti C0812524 Anmolpreet kaur C0798863-->

<head>
  <title>Pardeep kaur, Gourav, Manpreet kaur Aakriti and Anmolpreet kaur</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  
</head>

<body>
  <!-- Use the nav area to add hyperlinks to other pages within the website -->
  <header>
    
    <div class="topnav" id="myTopnav">
      <a href="index.html" class="active">Home</a>
      <a href="about.html">About us</a>
      <a href="menu.html">Menu</a>
      <a href="order.html">Online orders</a>
      <a href="contact.html">Contact us</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    
  </header>

  
  <!-- Use the footer area to add webpage footer content -->
  <footer class="footer">Cuisine Culture
    &copy; Copyright 2021<br> Pardeep Kaur C0812203, Manpreet Kaur c0808021 Gourav C0810482 and Aakriti C0812524,
    Anmolpreet kaur C0798863. All Rights Reserved.<br>
    <a href="mailto:kitchenrecipes@gmail.com">kitchenrecipes@gmail.com</a>
  </footer>
</body>

</html>



